.right-sidebar {
  div {
    height: 50%;
    cursor: pointer;
  }

  .deposit {
    background: linear-gradient($pure-red, $red);
  }

  .transfer {
    background: linear-gradient($pure-blue, $blue);
  }
}
