.home {
  width: 100%;
  height: 100vh;
  .container {
    display: grid;
    grid-template-columns: $camera-width 1fr 1fr;
  }
  .main {
    padding-top: $page-padding;
    display: flex;
    flex-direction: column;
    text-align: center;
    .title {
      @include title;
      padding-bottom: $element-padding;
    }
    .instructions {
      @include subtitle;
      padding-bottom: $element-padding;
    }
  }
  .account-details {
    padding: $element-padding;
    .account-details-header {
      @include subtitle;
      padding-top: $page-padding;
      text-align: center;
    }

    .account-entry {
      padding-bottom: $element-padding;
      @include text;
    }
    
    .account-name {
      padding-bottom: $element-padding;
      font-weight: bold;
      float: left;
    }
    
    .account-amount {
      color: green;
      float: right;
    }
  }
  .voice-actions {
    padding-top: $element-padding;
    h3 {
      @include subtitle;
      padding-bottom: $element-padding;
    }
    p {
      @include text;
      text-align: left;
    }    
  }
}
