@mixin title {
  font-family: $open-sans;
  font-size: $title;
}

@mixin subtitle {
  font-family: $raleway;
  font-size: $subtitle;
}

@mixin text {
  font-family: $raleway;
  font-size: $text;
}

.clearfix {
  clear: both;
}

.center-box {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;

  .center-box-title {
    @include title;
    color: $white;
  }
}

.container {
  display: grid;
  grid-template-columns: $camera-width 1fr 1fr;
}